body { color: #000000;
background-color: #ffffff;
font-family: Verdana, Geneva, Arial, sans-serif; }

/*Mobile First*/
.grid-container{
	display: grid;
	/*gap equivale a usar row-gap e column-gap*/
	gap: 20px 20px;
	grid-template-areas: 
		'header'
		'menu'
		'main'
		'aside'
		'footer';
	text-align: center;
}

.grid-container>*{
	padding: 10px;
	margin: 10px;
}

.header
{
	grid-area: header;	
	background-color: #ff0000;
	height: 100px;

}

.footer
{
	grid-area: footer;	
	background-color: #0000ff;
	height: 60px;

}

.main
{
	grid-area: main;	
	background-color: #cccccc;
	height: 300px;
	text-align: justify;
	
}

.menu{
	grid-area: menu;	
	background-color: #f00fff;
}

.aside{
	grid-area: aside;	
	background-color: #ffff00;
}

/*estilo que será aplicado com no mínimo 600px de largura*/
@media all and (min-width: 600px)
{
	.grid-container{
		display: grid;
		/*gap equivale a usar row-gap e column-gap*/
		gap: 20px 20px;
		grid-template-areas: 
			'header header header header header'
			'menu menu menu menu menu'
			'main main main main aside'
			'footer footer footer footer footer';
	}
	
	.main {
		background-color: #000000;
		color: #ffffff;
	
	}

	
}


